server {
    listen 80;
#    location /static {
#        proxy_set_header Host $host;
#        proxy_set_header X-Real-IP $remote_addr;
#        proxy_pass http://api:3000;
#    }
    gzip on;
    location /comments {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://api:3000;
    }
    location / {
        root /usr/share/nginx/html;
        index index.html;
    }
}

